---
layout:default
class:page-post
---

        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Raleway|Ubuntu|Roboto|Audiowide|Raleway Dots|Roboto Slab">
        <link rel="stylesheet" href="/css/normalize.css">
        
        <div class="header-contents clearfix">
                <h1 class="my-name"><a href="/">Akshay Verma</a></h1>
                <h4 class="tag-line">Morsels of bits from a biological AI</h4>
        </div>
        <div class="header-navbar clearfix">
                <ul class="navbar-contents">
                        <li><a href="/blog/index.html">Blog</a></li>
                      <li><a href="/Projects/Projects.html">Projects</a></li>
                        <li><a href="Resume.pdf">Resume</a></li>
                        <li><a href="/aboutMe/About_Me.html">About Me</a></li>
                </ul>
        </div>
<div class="post-container container">
        {{content}}
</div>
