---
layout: default
class: page-post
---

        
        <div class="header-contents clearfix">
                <h1 class="my-name"><a href="/">Akshay Verma</a></h1>
                <h4 class="tag-line">Bits and Musings from a biological AI</h4>
        </div>
        <div class="header-navbar clearfix">
                <ul class="navbar-contents">
                        <li><a href="{{ site.baseurl }}/blog/index.html">Blog</a></li>
                        <li><a href="{{ site.baseurl }}/projects/index.html">Projects</a></li>
                        <li><a href="Resume.pdf">Resume</a></li>
                        <li><a href="{{ site.baseurl }}/aboutMe/index.html">About Me</a></li>
                </ul>
        </div>
<div class="post-container container">
        {{content}}
</div>
