---
layout: blog
class: page-post
---
<article class="post post-single">
        <time class="post-date">{{page.date | date_to_string }}</time>
        <header class="post-header">
                <h2 class="post-title">
                        <a href="{{ post.url }}">{{page.title}}</a>
                </h2>
                {%if page.deck %}
                <p class="post-deck">{{ page.deck }}</p>
                {%endif%}
        </header>
        <div class="post-text">
                {{content}}
        </div>
</article>
